.history-actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
} 

ion-back-button {
  color: #f89c4b; 
}

ion-header { 
  padding-top: 25px;
  margin-bottom: 30px;
} 
  
ion-button {
  margin-top: 20px; 
}