<ion-header>
  <ion-toolbar>
    <ion-title>Verlauf</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <div class="history-actions">
    <ion-button
      (click)="clearHistory()"
      color="danger"
      fill="clear"
      size="small"
    >
      <ion-icon name="trash" slot="start"></ion-icon>
    </ion-button>
  </div>
  <ion-card *ngIf="historyList.length > 0; else leer">
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let history of historyList">
          <ion-label>
            <h3>{{ history.drug }} ({{ history.weight }} kg)</h3>
            <p>
              Dosierung: {{ history.dose }}<br />
              Stammlösung: {{ history.solution }} <br />
              Volumen: {{ history.volume }}<br />
              <small>{{ history.datetime | date:'dd.MM.yyyy HH:mm:ss' }}</small>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ng-template #leer>
    <ion-text color="medium">
      <p>Der Verlauf ist leer.</p>
    </ion-text>
  </ng-template>
</ion-content>
