<div class="logo-header">
  <ion-img
    src="assets/img/logo-light.png"
    class="logo logo-light"
    alt="Logo Kinderspital"
  />
  <ion-img
    src="assets/img/logo-dark.png"
    class="logo logo-dark"
    alt="Logo Kinderspital Dark"
  />
</div>
<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Dosierungsrechner für Kinder & Neugeborene
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button
        color="primary"
        expand="block"
        [routerLink]="['/med-calc']"
        style="margin-bottom: 7px"
      >
        Medikamentenrechner starten
      </ion-button>
      <ion-button color="secondary" expand="block" [routerLink]="['/history']"
        >Verlauf Berechnungen</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
